@charset "UTF-8";
@font-face {
  font-family: 'Neucha', cursive;
  src: url("../fonts/Neucha-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: local("Caveat Regular"), local("Caveat-Regular"), url("../fonts/Caveatregular.woff2") format("woff2"), url("../fonts/Caveatregular.woff") format("woff"), url("../fonts/Caveatregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 50px;
}

.section-title {
  font-size: 30px;
  text-align: center;
  padding-bottom: 50px;
  color: #E2C0C0;
}

body {
  font-family: 'Caveat', cursive;
  font-weight: 200;
}

h1 {
  font-weight: normal;
}

button, a {
  outline: none;
}

main {
  background: #DEECED url("../images/body/main-bg.jpg") no-repeat center top;
  background-size: cover;
}

.button {
  font-family: 'Neucha', cursive;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  color: #F3F3F3;
  cursor: pointer;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.main-title_text {
  color: #CD8888;
  font-weight: normal;
  margin: 0 20px;
  font-size: 70px;
}

.main-title_image {
  margin-top: 30px;
  width: 141px;
  height: 46px;
}

a {
  text-decoration: none;
}

@media (max-width: 576px) {
  .main-title_text {
    font-size: 50px;
  }
  .main-title_image {
    margin-top: 15px;
    width: 120px;
  }
}

@media (max-width: 510px) {
  .main-title_text {
    margin: 0 10px;
    font-size: 40px;
  }
  .main-title_image {
    margin-top: 7px;
    width: 100px;
  }
}

@media (max-width: 450px) {
  .main-title_text {
    font-size: 30px;
  }
  .main-title_image {
    margin-top: 0px;
    width: 80px;
    height: 40px;
  }
}

@media (max-width: 360px) {
  .main-title_text {
    font-size: 30px;
  }
  .main-title_image {
    margin-top: 10px;
    width: 60px;
    height: 20px;
  }
}

.hero {
  background: #DEECED url("../images/hero/bg-clear.jpg") no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
}

.hero-items {
  position: absolute;
}

.hero-items_top {
  width: 800px;
  top: 0;
  left: 0;
}

.hero-items_bottom {
  height: 850px;
  bottom: 0;
  right: 0;
}

.hero-items_florist {
  width: 600px;
  bottom: 10px;
  right: 100px;
}

.hero-info {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero-info_phone {
  color: #CD8888;
  font-size: 30px;
  margin-right: 30px;
  z-index: 1;
}

.hero-info_button {
  background: #E2C0C0;
  color: #D0FCFF;
  padding: 10px 30px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero-info_button:hover {
  background: #CD8888;
}

.hero-logo {
  width: 720px;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1400px) {
  .hero-logo {
    width: 650px;
  }
  .hero-items_top {
    width: 700px;
  }
  .hero-items_bottom {
    height: 750px;
  }
  .hero-items_florist {
    width: 550px;
  }
}

@media (max-width: 1170px) {
  .hero-items_top {
    width: 600px;
  }
  .hero-items_bottom {
    height: 650px;
  }
  .hero-items_florist {
    width: 450px;
  }
}

@media (max-width: 1000px) {
  .hero-logo {
    width: 500px;
  }
  .hero-items_top {
    width: 500px;
  }
}

@media (max-width: 876px) {
  .hero-items_top {
    display: none;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 700px;
  }
  .hero-logo {
    width: 400px;
  }
  .hero-items_bottom {
    height: 70%;
  }
  .hero-items_florist {
    width: 70%;
  }
  .hero-info_phone {
    margin-top: 10px;
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .hero {
    height: 600px;
  }
}

@media (max-width: 420px) {
  .hero-items_bottom {
    height: 50%;
  }
  .hero-logo {
    top: 30%;
    width: 320px;
  }
  .hero-info {
    padding-top: 50px;
  }
  .hero-info_button {
    font-size: 15px;
  }
  .hero-info_phone {
    font-size: 13px;
  }
}

.show-button {
  cursor: pointer;
}

.about-title {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}

.about-title_image {
  width: 419px;
}

.about-title_info {
  font-size: 70px;
  font-weight: 200;
  color: #F3F3F3;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-info {
  width: 80%;
  margin: auto;
  text-align: center;
}

.about-info_text {
  font-size: 30px;
  color: #4B4B4B;
}

.about-info_image {
  margin: 20px 0;
}

@media (max-width: 1200px) {
  .about-info {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .about-info_text {
    font-size: 25px;
  }
  .about-info_image {
    width: 270px;
  }
}

@media (max-width: 676px) {
  .about-title_info {
    font-size: 60px;
  }
  .about-title_image {
    width: 380px;
  }
}

@media (max-width: 500px) {
  .about-title_info {
    font-size: 50px;
  }
  .about-title_image {
    width: 320px;
  }
  .about-info_text {
    font-size: 20px;
  }
  .about-info_image {
    width: 150px;
  }
}

@media (max-width: 400px) {
  .about-title_info {
    font-size: 45px;
  }
  .about-title_image {
    width: 280px;
  }
  .about-info {
    width: 95%;
  }
  .about-info_text {
    font-size: 17px;
  }
  .about-info_image {
    width: 120px;
  }
}

.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog-photo {
  margin-top: 15px;
  display: block;
  height: 400px;
  position: relative;
}

.catalog-photo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  z-index: 0;
}

.catalog-photo:hover:after, .catalog-photo:hover .catalog-photo_title {
  opacity: 1;
}

.catalog-photo_title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 100%;
  color: #F3F3F3;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.catalog-photo_one {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  background: #16152c url("../images/catalog/букет.jpg") no-repeat center;
  background-size: cover;
}

.catalog-photo_two {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: #16152c url("../images/catalog/ящик.jpg") no-repeat center;
  background-size: cover;
}

.catalog-photo_three {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
  background: #16152c url("../images/catalog/корзина.jpg") no-repeat center bottom;
  background-size: cover;
}

.catalog-photo_four {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
  background: #16152c url("../images/catalog/коробка.jpg") no-repeat center bottom;
  background-size: cover;
}

.catalog-photo_five {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background: #16152c url("../images/catalog/интерьерная.jpg") no-repeat center;
  background-size: cover;
}

.catalog-photo_six {
  -ms-flex-preferred-size: 29%;
      flex-basis: 29%;
  background: #16152c url("../images/catalog/подарки.jpg") no-repeat center;
  background-size: cover;
}

@media (max-width: 1023px) {
  .catalog-photo {
    height: 300px;
  }
  .catalog-photo:after {
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
  .catalog-photo_title {
    font-size: 30px;
    opacity: 1;
  }
}

@media (max-width: 900px) {
  .catalog-photo {
    height: 250px;
  }
  .catalog-photo_title {
    font-size: 25px;
  }
}

@media (max-width: 700px) {
  .catalog-photo_one {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .catalog-photo_two {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .catalog-photo_three {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .catalog-photo_four {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .catalog-photo_five {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .catalog-photo_six {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}

@media (max-width: 500px) {
  .catalog-photo {
    height: 200px;
  }
}

@media (max-width: 400px) {
  .catalog-photo {
    height: 150px;
  }
}

.ourshop-wrap {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourshop-info {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  color: #4B4B4B;
  font-size: 30px;
}

.ourshop-slider {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.ourshop-slider-item {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.ourshop-slider-item img {
  width: 100%;
}

.ourshop-slider-dots {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 10px;
  background-color: #CD8888;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.dot-active {
  background-color: #000000;
  height: 18px;
  width: 18px;
}

.wrap {
  width: 100%;
  position: relative;
}

.prev {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 98%;
}

.prev:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.prev:hover .arrow-left {
  opacity: 1;
}

.arrow-left {
  width: 30px;
  height: 30px;
  background: url(../../images/ourshop/arrows/left-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
}

.next {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: 90px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 98%;
  right: 0;
}

.next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.next:hover .arrow-right {
  opacity: 1;
}

.arrow-right {
  width: 30px;
  height: 30px;
  background: url(../../images/ourshop/arrows/right-arrow.svg) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: .4;
  -webkit-transition: 1s;
  transition: 1s;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

.feedback-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
  background: #E2C0C0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feedback-button:hover {
  background: #CD8888;
}

.feedback-item {
  -ms-flex-preferred-size: 33.3333%;
      flex-basis: 33.3333%;
  height: 450px;
  background: red;
}

.feedback-item_info {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 80%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.feedback-item_one {
  background: #000 url(../images/feedback/feedback-4.jpg) no-repeat center;
  background-size: cover;
}

.feedback-item_two {
  background: #000 url(../images/feedback/feedback-3.jpg) no-repeat center;
  background-size: cover;
}

.feedback-item_three {
  background: #000 url(../images/feedback/feedback-1.jpg) no-repeat center;
  background-size: cover;
}

.feedback-item_four {
  background: #000 url(../images/feedback/feedback-2.jpg) no-repeat center;
  background-size: cover;
}

.feedback-item_five {
  background: #000 url(../images/feedback/feedback-5.jpg) no-repeat center;
  background-size: cover;
}

.feedback-comment {
  background: #EDEDED;
  position: relative;
}

.feedback-comment_text {
  margin-top: 10px;
  font-size: 30px;
  color: #4B4B4B;
}

.videomap-wrap {
  position: relative;
}

.videomap-title {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

.videomap-title_text {
  color: #F3F3F3;
}

.videomap-bg {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.videomap-button {
  background: #E2C0C0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.videomap-button:hover {
  background: #CD8888;
}

.videomap_padding {
  padding-bottom: 0px;
  cursor: pointer;
}

.videomap_lower {
  margin-bottom: 20px;
}

.popup-title {
  color: #CD8888;
  font-size: 30px;
  text-align: center;
}

.popup-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 99;
  display: none;
}

.popup-content {
  position: relative;
  margin: 50px auto 50px auto;
  width: 560px;
  height: auto;
  padding: 20px 70px 10px 70px;
  background: #B8DDDF;
  border-radius: 15px;
}

.popup-close {
  position: absolute;
  top: -10px;
  right: 20px;
  font-size: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup-close:hover {
  color: #CD8888;
}

.popup-flower {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.popup-flower_one {
  border-radius: 15px;
  left: 0;
}

.popup-flower_two {
  border-radius: 15px;
  right: 0;
}

.popup-media {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-media_item {
  margin: 0 20px;
}

.popup-form {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-label {
  text-align: center;
  font-size: 25px;
  color: #818181;
}

.popup-input {
  margin: 10px 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  background: #DAF0F1;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  border: none;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
  font-family: 'Caveat', cursive;
  font-weight: 200;
}

.popup-input_comment {
  height: 100px;
  vertical-align: top;
}

.popup-button {
  margin: auto;
  margin-top: 20px;
  width: 40%;
  background: #7E7E7E;
  color: #D0FCFF;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popup-button:hover {
  background: #CD8888;
}

.popup-time {
  position: absolute;
  left: 50%;
  width: 100%;
  bottom: -30px;
  color: #B8DDDF;
  font-size: 20px;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fadeFast {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: .1;
  }
  to {
    opacity: 1;
  }
}

.delivery-text {
  font-size: 30px;
  text-align: center;
  color: #4B4B4B;
}

.delivery-lower {
  margin-top: 30px;
}

nav {
  position: fixed;
  z-index: 10;
  font-family: 'Neucha', cursive;
}

.navigation-circle {
  width: 130px;
  height: 130px;
  background: #E2C0C0;
  border-bottom-right-radius: 150px;
  position: fixed;
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #FCFCFC;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  height: 110vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 700px) {
  .navigation-circle {
    width: 100px;
    height: 100px;
  }
  #menuToggle {
    top: 30px;
    left: 30px;
  }
}

@media (max-width: 470px) {
  .navigation-circle {
    width: 70px;
    height: 70px;
  }
  #menuToggle {
    top: 15px;
    left: 15px;
  }
}
/*# sourceMappingURL=style.css.map */