@font-face {
    font-family: 'Neucha', cursive;
    src: url('../../fonts/Neucha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Caveat', cursive;
    src: url('../../fonts/Caveat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin Neucha {
    font-family: 'Neucha', cursive;
}
@mixin Caveat {
    font-family: 'Caveat', cursive;
    font-weight: 200;
}