.section 
    padding-top: 100px
    padding-bottom: 50px 
    &-title
        font-size: 30px
        text-align: center
        padding-bottom: 50px
        color: #E2C0C0
body
    +Caveat
h1
    font-weight: normal
button, a
    outline: none
main
    background: #DEECED url('../images/body/main-bg.jpg') no-repeat center top 
    background-size: cover
.button
    +Neucha
    text-decoration: none
    padding: 10px 15px
    font-size: 20px
    border-radius: 5px
    border: none
    color: #F3F3F3
    cursor: pointer
.main-title
    display: flex
    justify-content: center
    margin-bottom: 50px
    &_text   
        color: #CD8888
        font-weight: normal
        margin: 0 20px
        font-size: 70px
    &_image
        margin-top: 30px
        width: 141px
        height: 46px
a
    text-decoration: none

@media (max-width: 576px)
    .main-title
        &_text
            font-size: 50px
        &_image
            margin-top: 15px
            width: 120px

@media (max-width: 510px)
    .main-title
        &_text
            margin: 0 10px
            font-size: 40px
        &_image
            margin-top: 7px
            width: 100px

@media (max-width: 450px)
    .main-title
        &_text
            font-size: 30px
        &_image
            margin-top: 0px
            width: 80px
            height: 40px
@media (max-width: 360px)
    .main-title
        &_text
            font-size: 30px
        &_image
            margin-top: 10px
            width: 60px
            height: 20px
