.about
    &-title
        text-align: center
        position: relative
        margin-bottom: 30px
        &_image
            width: 419px
        &_info
            font-size: 70px
            font-weight: 200
            color: $txt-white
            position: absolute
            top: 30%
            left: 50%
            transform: translateX(-50%)
    &-info
        width: 80%
        margin: auto
        text-align: center
        &_text
            font-size: 30px
            color: $txt-color
        &_image
            margin: 20px 0
@media (max-width: 1200px)
    .about
        &-info
            width: 90%
@media (max-width: 900px) 
    .about
        &-info
            &_text
                font-size: 25px
            &_image
                width: 270px
@media (max-width: 676px)
    .about
        &-title
            &_info
                font-size: 60px
            &_image
                width: 380px
@media (max-width: 500px)
    .about
        &-title
            &_info
                font-size: 50px
            &_image
                width: 320px
        &-info
            &_text
                font-size: 20px
            &_image
                width: 150px
@media (max-width: 400px)
    .about
        &-title
            &_info
                font-size: 45px
            &_image
                width: 280px
        &-info
            width: 95%
            &_text
                font-size: 17px
            &_image
                width: 120px