.delivery
    &-text
        font-size: 30px
        text-align: center
        color: #4B4B4B
    &-lower
        margin-top: 30px
@media (max-width: 700px)
    .delivery
        &-text
            font-size: 25px
@media (max-width: 450px)
    .delivery
        &-text
            font-size: 20px