.ourshop
    position: relative
    padding-bottom: 100px
    &-flower 
        position: absolute
        right: 0
        top: 25%
    &-wrap
        display: flex
        flex-direction: column
        justify-content: center
    &-info
        +Playfair
        color: $txt-color
        font-size: 20px
        line-height: 35px
        margin-bottom: 25px
    &-arrow
        width: 40px
        height: auto
        border: none
        border-radius: 50%
        transition: 0.4s
        opacity: 0.5
        &:hover
            opacity: 1
            


.owl-carousel
    height: 100%
    position: relative
    

.owl-prev, .owl-next
	position: absolute
	top: calc(50% - 30px)
.owl-prev
	left: 40px

.owl-next
	right: 40px

.fade 
    animation-name: fade
    animation-duration: 2.5s
@keyframes fade
  from 
    opacity: .1
  to 
    opacity: 1
		 
	 
@media (max-width: 995px) 
    .ourshop
        &-wrap
            margin-bottom: 400px
            justify-content: center
        &-info
            flex-basis: 90%
            text-align: center
            margin-bottom: 50px
        &-slider
            flex-basis: 100%
            margin: 0 40px
@media (max-width: 740px)
    .ourshop
        &-wrap
            margin-bottom: 100px
        &-info
            flex-basis: 90%
            font-size: 20px
            margin-bottom: 30px
@media (max-width: 440px)
    .ourshop
        &-arrow
            width: 30px
            height: auto
        &-info
            margin-bottom: 10px
            font-size: 15px
    .owl-prev
	    left: 30px

    .owl-next
	    right: 30px
